In [15]:
import pandas as pd
import numpy as np

In [16]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\saini\anaconda3\lib\site-packages (1.6.1)
Requirement already satisfied: numpy>=1.19.5 in c:\users\saini\anaconda3\lib\site-packages (from scikit-learn) (2.3.3)
Requirement already satisfied: scipy>=1.6.0 in c:\users\saini\anaconda3\lib\site-packages (from scikit-learn) (1.16.2)
Requirement already satisfied: joblib>=1.2.0 in c:\users\saini\anaconda3\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\saini\anaconda3\lib\site-packages (from scikit-learn) (3.5.0)

In [17]:
df=pd.read_csv("Data.csv")

In [18]:
df

   Country   Age   Salary Purchased
0   France  44.0  72000.0       Yes
1    Spain  27.0  48000.0       Yes
2      NaN  30.0  54000.0       NaN
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

## 1. Removing the Rows

In [19]:
#df.dropna()
#If dropna(inplace=True)-> The original object is modified, else new object is returned, no changes to old object

In [20]:
from sklearn.impute import SimpleImputer

## 2. Imputers

In [21]:
imputer=SimpleImputer(missing_values=np.nan,strategy="mean")

In [22]:
imputer.fit(df[['Salary']])

SimpleImputer()

In [23]:
imputer.transform(df[['Salary']])
#We can equate df[['Salary']] to apply the changes to df

array([[72000.        ],
       [48000.        ],
       [54000.        ],
       [61000.        ],
       [63777.77777778],
       [58000.        ],
       [52000.        ],
       [79000.        ],
       [83000.        ],
       [67000.        ]])

In [24]:
df

   Country   Age   Salary Purchased
0   France  44.0  72000.0       Yes
1    Spain  27.0  48000.0       Yes
2      NaN  30.0  54000.0       NaN
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [25]:
df.iloc[:,1:3].values

array([[4.4e+01, 7.2e+04],
       [2.7e+01, 4.8e+04],
       [3.0e+01, 5.4e+04],
       [3.8e+01, 6.1e+04],
       [4.0e+01,     nan],
       [3.5e+01, 5.8e+04],
       [    nan, 5.2e+04],
       [4.8e+01, 7.9e+04],
       [5.0e+01, 8.3e+04],
       [3.7e+01, 6.7e+04]])

In [26]:
#We can also use iloc and slicing and pass it to imputer since it takes only 2D elements

In [27]:
df[['Age','Salary']]=imputer.fit_transform(df.iloc[:,1:3].values)

In [28]:
df

   Country        Age        Salary Purchased
0   France  44.000000  72000.000000       Yes
1    Spain  27.000000  48000.000000       Yes
2      NaN  30.000000  54000.000000       NaN
3    Spain  38.000000  61000.000000        No
4  Germany  40.000000  63777.777778       Yes
5   France  35.000000  58000.000000       Yes
6    Spain  38.777778  52000.000000        No
7   France  48.000000  79000.000000       Yes
8  Germany  50.000000  83000.000000        No
9   France  37.000000  67000.000000       Yes

In [33]:
df['Age']=df['Age'].round(0).astype(int)
df['Salary']=df['Salary'].round(0).astype(float)

In [34]:
df

   Country  Age   Salary Purchased
0   France   44  72000.0       Yes
1    Spain   27  48000.0       Yes
2      NaN   30  54000.0       NaN
3    Spain   38  61000.0        No
4  Germany   40  63778.0       Yes
5   France   35  58000.0       Yes
6    Spain   39  52000.0        No
7   France   48  79000.0       Yes
8  Germany   50  83000.0        No
9   France   37  67000.0       Yes

In [39]:
#Now to replace the categorical data
imputer=SimpleImputer(missing_values=np.nan,strategy="most_frequent")
df[['Purchased']]=imputer.fit_transform(df.iloc[:,3:].values)
df[['Country']]=imputer.fit_transform(df.iloc[:,0:1].values)

In [40]:
df

   Country  Age   Salary Purchased
0   France   44  72000.0       Yes
1    Spain   27  48000.0       Yes
2   France   30  54000.0       Yes
3    Spain   38  61000.0        No
4  Germany   40  63778.0       Yes
5   France   35  58000.0       Yes
6    Spain   39  52000.0        No
7   France   48  79000.0       Yes
8  Germany   50  83000.0        No
9   France   37  67000.0       Yes